body {
    font-family: "Quicksand", serif;
    font-style: normal;
    text-align: center;
    background: url('./bgImg.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

.Logo {
    margin-top: 50px;
}

.Logo:hover {
    transform: scale(1.10);
    transition: all 0.3s ease-in-out;

}

.Logo h1 {
    font-size: 3em;
    font-weight: 100;
    font-style: normal;
}

.Logo span {
    color: rgb(219, 219, 219);
    font-weight: 900;
}

.container {
    margin: 20px 0;
    border-radius: 20px;
}

form {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.search-container .fa-magnifying-glass {
    position: absolute;
    margin-left: 15px;
    margin-top: 14px;
    color: white;
}

input[type="text"] {
    padding: 12px 20px 12px 40px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #dddddd4a;
    background: rgba(255, 255, 255, 0.32);
    color: white;
    font-size: 18px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
    color: white;
    font-size: 18px;
    font-family: "Quicksand", serif;
    font-weight: 600;
}

input[type="text"]:hover{
    background: rgba(255, 255, 255, 0.80);
    transition: all 0.3s ease-in-out;
    color: black;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: white;
    font-weight: 400;
    background: rgba(132, 132, 132, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(132, 132, 132, 0.48);
    /* Add text shadow */
}

.movie:hover{
    background: rgba(255, 255, 255, 0.32);
    transition: all 0.3s ease-in-out;
    transform: scale(1.03);
}

.movie img {
    width: 30%;
    border-radius: 16px;
    margin-right: 20px;
}

.movie .details {
    flex: 1;
    /* Take remaining space */
}

.movie-details h1 {
    font-weight: 600;
}

.movie-details h2 {
    font-size: 20px;
    font-weight: 400;
    display: block;
}

.rating {
    margin-left: 25px;
}

.rating i {
    margin-right: 5px;
    color: #FFD700;
}

.rating strong {
    margin-right: 5px;
}

.rating .fa-pizza-slice {
    color: #ff3d1b;
}

.rating .fa-m {
    color: #1C1C1C;
}

.movie-details p {
    margin: 10px 0;
    font-weight: 400;
}

.wrapper {
    background: rgba(132, 132, 132, 0.32);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7.3px);
        -webkit-backdrop-filter: blur(7.3px);
        border: 1px solid rgba(132, 132, 132, 0.48);
        margin: 10px 30px;
        padding: 10px;
}

#loading {
    display: none;
    margin-top: 20px;
}